###
# Unity folders and files
###
[Aa]ssets/AssetStoreTools*
[Bb]uild/
[Ll]ibrary/
[Ll]ocal[Cc]ache/
[Oo]bj/
[Tt]emp/
[Uu]nityGenerated/
# file on crash reports
sysinfo.txt
# Unity3D generated meta files
*.pidb.meta

###
# VS/MD solution and project files
###
[Ee]xportedObj/
*.booproj
*.csproj
*.sln
*.suo
*.svd
*.unityproj
*.user
*.userprefs
*.pidb
.DS_Store

###
# OS generated
###
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
Icon?
ehthumbs.db
Thumbs.db
HorrorNekit/Logs/shadercompiler-UnityShaderCompiler.exe9.log
HorrorNekit/Logs/shadercompiler-UnityShaderCompiler.exe8.log
HorrorNekit/Logs/shadercompiler-UnityShaderCompiler.exe7.log
HorrorNekit/Logs/shadercompiler-UnityShaderCompiler.exe6.log
HorrorNekit/Logs/shadercompiler-UnityShaderCompiler.exe5.log
HorrorNekit/Logs/shadercompiler-UnityShaderCompiler.exe4.log
HorrorNekit/Logs/shadercompiler-UnityShaderCompiler.exe3.log
HorrorNekit/Logs/shadercompiler-UnityShaderCompiler.exe23.log
HorrorNekit/Logs/shadercompiler-UnityShaderCompiler.exe22.log
HorrorNekit/Logs/shadercompiler-UnityShaderCompiler.exe21.log
HorrorNekit/Logs/shadercompiler-UnityShaderCompiler.exe20.log
HorrorNekit/Logs/shadercompiler-UnityShaderCompiler.exe2.log
HorrorNekit/Logs/shadercompiler-UnityShaderCompiler.exe19.log
HorrorNekit/Logs/shadercompiler-UnityShaderCompiler.exe18.log
HorrorNekit/Logs/shadercompiler-UnityShaderCompiler.exe17.log
HorrorNekit/Logs/shadercompiler-UnityShaderCompiler.exe16.log
HorrorNekit/Logs/shadercompiler-UnityShaderCompiler.exe15.log
HorrorNekit/Logs/shadercompiler-UnityShaderCompiler.exe14.log
HorrorNekit/Logs/shadercompiler-UnityShaderCompiler.exe13.log
HorrorNekit/Logs/shadercompiler-UnityShaderCompiler.exe12.log
HorrorNekit/Logs/shadercompiler-UnityShaderCompiler.exe11.log
HorrorNekit/Logs/shadercompiler-UnityShaderCompiler.exe10.log
HorrorNekit/Logs/shadercompiler-UnityShaderCompiler.exe1.log
HorrorNekit/Logs/shadercompiler-UnityShaderCompiler.exe0.log
HorrorNekit/Logs/shadercompiler-AssetImportWorker0.log
HorrorNekit/Logs/AssetImportWorker5.log
HorrorNekit/Logs/AssetImportWorker4.log
HorrorNekit/Logs/AssetImportWorker3.log
HorrorNekit/Logs/AssetImportWorker2.log
HorrorNekit/Logs/AssetImportWorker1.log
HorrorNekit/Logs/AssetImportWorker1-prev.log
HorrorNekit/Logs/AssetImportWorker0.log
HorrorNekit/Logs/AssetImportWorker0-prev.log
HorrorNekit/Logs/shadercompiler-UnityShaderCompiler.exe0.log
HorrorNekit/Logs/AssetImportWorker9.log
HorrorNekit/Logs/AssetImportWorker8.log
HorrorNekit/Logs/AssetImportWorker7.log
HorrorNekit/Logs/AssetImportWorker6.log
HorrorNekit/Logs/AssetImportWorker24.log
HorrorNekit/Logs/AssetImportWorker23.log
HorrorNekit/Logs/AssetImportWorker22.log
HorrorNekit/Logs/AssetImportWorker21.log
HorrorNekit/Logs/AssetImportWorker20.log
HorrorNekit/Logs/AssetImportWorker19.log
HorrorNekit/Logs/AssetImportWorker18.log
HorrorNekit/Logs/AssetImportWorker17.log
HorrorNekit/Logs/AssetImportWorker16.log
HorrorNekit/Logs/AssetImportWorker15.log
HorrorNekit/Logs/AssetImportWorker14.log
HorrorNekit/Logs/AssetImportWorker13.log
HorrorNekit/Logs/AssetImportWorker12.log
HorrorNekit/Logs/AssetImportWorker11.log
HorrorNekit/Logs/AssetImportWorker10.log
HorrorNekit/Logs/AssetImportWorker1-prev.log
HorrorNekit/Logs/AssetImportWorker0-prev.log
HorrorNekit/Logs/AssetImportWorker0-prev.log
HorrorNekit/Logs/AssetImportWorker1-prev.log
HorrorNekit/Logs/AssetImportWorker10-prev.log
HorrorNekit/Logs/AssetImportWorker11-prev.log
HorrorNekit/Logs/AssetImportWorker12-prev.log
HorrorNekit/Logs/AssetImportWorker13-prev.log
HorrorNekit/Logs/AssetImportWorker14-prev.log
HorrorNekit/Logs/AssetImportWorker15-prev.log
HorrorNekit/Logs/AssetImportWorker16-prev.log
HorrorNekit/Logs/AssetImportWorker17-prev.log
HorrorNekit/Logs/AssetImportWorker18-prev.log
HorrorNekit/Logs/AssetImportWorker19-prev.log
HorrorNekit/Logs/AssetImportWorker2-prev.log
HorrorNekit/Logs/AssetImportWorker20-prev.log
HorrorNekit/Logs/AssetImportWorker21-prev.log
HorrorNekit/Logs/AssetImportWorker22-prev.log
HorrorNekit/Logs/AssetImportWorker23-prev.log
HorrorNekit/Logs/AssetImportWorker24-prev.log
HorrorNekit/Logs/AssetImportWorker3-prev.log
HorrorNekit/Logs/AssetImportWorker4-prev.log
HorrorNekit/Logs/AssetImportWorker5-prev.log
HorrorNekit/Logs/AssetImportWorker6-prev.log
HorrorNekit/Logs/AssetImportWorker7-prev.log
HorrorNekit/Logs/AssetImportWorker8-prev.log
HorrorNekit/Logs/AssetImportWorker9-prev.log
HorrorNekit/Logs/shadercompiler-UnityShaderCompiler.exe0.log
